<main class="flex  justify-center gap-12 mb-20">
    <button routerLink="/user/val/bmi" class="bg-slate-500 p-2 rounded-lg text-white shadow-md shadow-gray-700" >
        Show your BMI
    </button>
    <button routerLink="/user/val/calories" class="bg-slate-500 p-2 rounded-lg text-white shadow-md shadow-gray-700" >
        Show calories intake
    </button>
    <button routerLink="/user/val/macro" class="bg-slate-500 p-2 rounded-lg text-white shadow-md shadow-gray-700" >
        Show Macros
    </button>
</main>
<router-outlet></router-outlet>